body{
  height: 3000px;
}
.product-container{
  position: relative;
  display: inline-block;
}
.image{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.sale{
  position: absolute;
  top: 8px;
  right: 0;
  background-color: black;
  color: white;
  font-family: Arial;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}