/* 1. Style for logo */
.logo-container {
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 380px;
  width: 500px;
  object-fit: cover;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

/* 2. Style for explanation */
.dh-explain-container {
  background-color: rgba(217, 217, 217, 0.43);
  max-width: 1150px;
  margin-left: 7%;
  margin-right: 7%;
  padding: 20px;
  border-radius: 20px;
  min-width: 700px;
}

@media screen and (max-width: 1020px) {
  .dh-explain-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.dh-explain {
  font-family: Inter;
  color: rgb(67, 67, 67);
  line-height: 30px;
  font-size: 19px;
  text-align: justify;
}

/* 3. Style for example */
.example-disanso {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.disanso-image-container {
  display: flex;
  justify-content: end;
}

.disanso-image {
  margin-right: 100px;
  max-width: 500px;
  width: 85%;
  max-height: 600px;
  height: 85%;
  border-radius: 20px;
  object-fit: cover;
}

@media screen and (max-width:1365px) {
  .disanso-image {
    margin-right: 75px;
  }
}

.disanso-text-container {
  margin-right: auto;
  margin-left: 20px;
}

.disanso-text {
  font-family: Inter;
  color: rgb(67, 67, 67);
  line-height: 30px;
  font-size: 19px;
  max-width: 500px;
  margin-bottom: 50px;
  text-align: justify;
}

.see-more-button {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 22px 10px 22px;
  color: #022D58;
  background-color: rgb(245, 245, 245);
  border-color: #022D58;
  border-style: solid;
  border-radius: 30px;
  transition: all 0.15s;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #022D58;
  color: white;
}

.see-more-button:active {
  opacity: 0.7;
}

@media screen and (max-width:1365px) {
  .disanso-text-container {
    margin-right: auto;
    margin-left: 0;
  }
}

@media screen and (max-width: 1125px) {
  .dh-explain {
    line-height: 27px;
    font-size: 17px;
  }

  .disanso-image {
    margin-right: 30px;
  }

  .disanso-text-container {
    margin-left: -20px;
  }

  .disanso-text {
    line-height: 27px;
    font-size: 17px;
  }
}

/* 4. Style for reason */
.dh-reason-container {
  background-color: #93B0C9;
  padding: 70px 8% 70px 8%;
  margin-left: -20px;
  margin-right: -20px;
}

.dh-title {
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 70px;
}

.dh-reason-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 22px;
  text-align: center;
}

.reason-image {
  width: 90%;
}

.reason-text {
  font-family: Roboto;
  font-size: 17px;
}

.see-more-button-container {
  text-align: center;
  padding-top: 50px;
}

/* 5. Style for map */
.map .dh-title {
  margin-top: 100px;
  margin-bottom: -100px;
}

.map-container {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.map-image {
  width: 90%;
}

.location-container-1 {
  position: absolute;
  top: 28%;
  left: 17%;
  text-align: center;
  max-width: 200px;
}

.location-container-2 {
  position: absolute;
  bottom: 24%;
  left: 28.5%;
  text-align: center;
  max-width: 200px;
}

.location-container-3 {
  position: absolute;
  top: 24.5%;
  right: 47%;
  text-align: center;
  max-width: 200px;
}

.location-container-4 {
  position: absolute;
  bottom: 35%;
  right: 47%;
  text-align: center;
  max-width: 200px;
}

.location-container-5 {
  position: absolute;
  top: 21%;
  right: 25%;
  text-align: center;
  max-width: 200px;
}

.location-container-6 {
  position: absolute;
  bottom: 15%;
  right: 17%;
  text-align: center;
  max-width: 200px;
}

.location-container-7 {
  position: absolute;
  bottom: 38%;
  right: 24.5%;
  text-align: center;
  max-width: 200px;
}

.place {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s;
}

.location-image {
  cursor: pointer;
}

.location-container-1:hover .place,
.location-container-2:hover .place,
.location-container-3:hover .place,
.location-container-4:hover .place,
.location-container-5:hover .place,
.location-container-6:hover .place,
.location-container-7:hover .place {
  opacity: 1;
}

/* 5. Style for map */
.interactive-container {
  background-color: #93B0C9;
  padding: 70px 8% 70px 8%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 100px;
}